@define-color bg #292329;
@define-color fg #dcd6d6;
@define-color gray1 #79be9a;
@define-color gray2 #877887;
@define-color gray3 #9db9b2;
@define-color gray4 #c3b283;
@define-color gray5 #cd9b98;
@define-color fg_bright #dcd6d6;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}